---
layout : "empty.njk"
title: "Test report"
hideSideMap: true
date: 2022-02-01 00:00:01Z
---

## 1. Στοιχεία αιτητή

### Προσωπικά στοιχεία

#### Στοιχεία αιτητή

<p>
    <span class="govcy-fw-bold">Για ποιό υποβάλλω αίτηση</span>
    <span class="govcy-d-block">Για αποθανόντα</span>
</p>
<p>
    <span class="govcy-fw-bold">Ημερομηνία θανάτου</span>
    <span class="govcy-d-block">1/1/2020</span>
</p>
<p>
    <span class="govcy-fw-bold">Όνομα</span>
    <span class="govcy-d-block">Αντρέας Αντρέου</span>
</p>
<p>
    <span class="govcy-fw-bold">Ημερομηνία γέννησης</span>
    <span class="govcy-d-block">1/8/1962</span>
</p>
<p>
    <span class="govcy-fw-bold">Χώρα υπηκότητας</span>
    <span class="govcy-d-block">Κύπρος</span>
</p>
<p>
    <span class="govcy-fw-bold">Είδος Ταυτοποίηση</span>
    <span class="govcy-d-block">Αριθμός ταυτότητας</span>
</p>
<p>
    <span class="govcy-fw-bold">Αριθμός Ταυτοποίηση</span>
    <span class="govcy-d-block">123456</span>
</p>
<p>
    <span class="govcy-fw-bold">Χώρα έκδοσης ταυτοποίησης</span>
    <span class="govcy-d-block">Κύπρος</span>
</p>
<p>
    <span class="govcy-fw-bold">Αποδεικτικό ταυτοποίησης</span>
    <span class="govcy-d-block"><a href="#">Αρχείο</a></span>
</p>
<p>
    <span class="govcy-fw-bold">Αριθμός κοινωνικών </span>
    <span class="govcy-d-block">123456</span>
</p>
<hr>

#### Στοιχεία εκπροσώπου
<p>
    <span class="govcy-fw-bold">Είδος εκπροσώπου</span>
    <span class="govcy-d-block">Άτομο</span>
</p>
<p>
    <span class="govcy-fw-bold">Όνομα</span>
    <span class="govcy-d-block">Αντρέας Αντρέου</span>
</p>
<p>
    <span class="govcy-fw-bold">Είδος Ταυτοποίηση</span>
    <span class="govcy-d-block">Αριθμός ταυτότητας</span>
</p>
<p>
    <span class="govcy-fw-bold">Αριθμός Ταυτοποίηση</span>
    <span class="govcy-d-block">123456</span>
</p>
<p>
    <span class="govcy-fw-bold">Αποδεικτικό ταυτοποίησης</span>
    <span class="govcy-d-block"><a href="#">Αρχείο</a></span>
</p>
<p>
    <div class="govcy-fw-bold">Αποδεικτικό ταυτοποίησης</div>
    <img src="../../img/icons-512.png" class="img-fluid" alt="og:image, twitter:image">
</p>
<hr>

#### Έγγραφα εξακρίβωσης 
<p>
    <span class="govcy-fw-bold">Know Your Customer (KYC)</span>
    <span class="govcy-d-block"><a href="#">Αρχείο</a></span>
</p>
<p>
    <span class="govcy-fw-bold">Anti-Money Laundering (AML)</span>
    <span class="govcy-d-block"><a href="#">Αρχείο</a></span>
</p>
<hr>

### Πρόσθετα στοιχεία ταυτοποίησης
<table class="govcy-table">
    <tbody>
    <tr>
        <td>
            <p>
                <span class="govcy-fw-bold">Είδος Ταυτοποίηση</span>
                <span class="govcy-d-block">Αριθμός ταυτότητας</span>
            </p>
            <p>
                <span class="govcy-fw-bold">Αριθμός Ταυτοποίηση</span>
                <span class="govcy-d-block">123456</span>
            </p>
            <p>
                <span class="govcy-fw-bold">Χώρα έκδοσης ταυτοποίησης</span>
                <span class="govcy-d-block">Ελλάδα</span>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <span class="govcy-fw-bold">Είδος Ταυτοποίηση</span>
                <span class="govcy-d-block">Αριθμός διαβατηρίου</span>
            </p>
            <p>
                <span class="govcy-fw-bold">Αριθμός Ταυτοποίηση</span>
                <span class="govcy-d-block">123456</span>
            </p>
            <p>
                <span class="govcy-fw-bold">Χώρα έκδοσης ταυτοποίησης</span>
                <span class="govcy-d-block">Ελλάδα</span>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <span class="govcy-fw-bold">Είδος Ταυτοποίηση</span>
                <span class="govcy-d-block">Αριθμός ταυτότητας</span>
            </p>
            <p>
                <span class="govcy-fw-bold">Αριθμός Ταυτοποίηση</span>
                <span class="govcy-d-block">123456</span>
            </p>
            <p>
                <span class="govcy-fw-bold">Χώρα έκδοσης ταυτοποίησης</span>
                <span class="govcy-d-block">Ιταλία</span>
            </p>
        </td>
    </tr>
    </tbody>
</table>

### Κληρονόμοι

<table class="govcy-table">
    <tbody>
        <tr>
            <td>
                <p>
                    <span class="govcy-fw-bold">Όνομα</span>
                    <span class="govcy-d-block">Αντρέας Αντρέου</span>
                </p>
                <p>
                    <span class="govcy-fw-bold">Είδος Ταυτοποίηση</span>
                    <span class="govcy-d-block">Αριθμός ταυτότητας</span>
                </p>
                <p>
                    <span class="govcy-fw-bold">Αριθμός Ταυτοποίηση</span>
                    <span class="govcy-d-block">123456</span>
                </p>
                <p>
                    <span class="govcy-fw-bold">Χώρα έκδοσης ταυτοποίησης</span>
                    <span class="govcy-d-block">Ιταλία</span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <span class="govcy-fw-bold">Όνομα</span>
                    <span class="govcy-d-block">Αντρέας Αντρέου</span>
                </p>
                <p>
                    <span class="govcy-fw-bold">Είδος Ταυτοποίηση</span>
                    <span class="govcy-d-block">Αριθμός ταυτότητας</span>
                </p>
                <p>
                    <span class="govcy-fw-bold">Αριθμός Ταυτοποίηση</span>
                    <span class="govcy-d-block">123456</span>
                </p>
                <p>
                    <span class="govcy-fw-bold">Χώρα έκδοσης ταυτοποίησης</span>
                    <span class="govcy-d-block">Ιταλία</span>
                </p>
            </td>
        </tr>
    </tbody>
</table>

### Στοιχεία επικοινωνίας
<p>
    <span class="govcy-fw-bold">Διεύθυνση αλληλογραφίας</span>
    <span class="govcy-d-block">Ισαβέλλας 4<br>Πάνω Δευτερά<br>2460</span>
</p>
<p>
    <span class="govcy-fw-bold">Email</span>
    <span class="govcy-d-block">test@test.com</span>
</p>
<p>
    <span class="govcy-fw-bold">Τηλέφωνο</span>
    <span class="govcy-d-block">+35799123456</span>
</p>
<hr>

## 2. Στοιχεία κουρέματος

### Καταθέσεις

### Αξιόγραφα

### Μετοχές

## 3. Άλλα

### Εξουσιοδότηση Τραπεζών

### Αποζημειώσεις 
